/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px;
}

.nav-pane {
  cursor: pointer;
  margin: 0 20px;
}

.main {
  display: none;
}

.view {
  text-align: center;
  padding: 20px;
}

#view-1 {
  background-color: #5a3248;
}

#view-2 {
  background-color: #3f0f0f;
}
#view-3 {
  background-color: #a5a1a1;
}

#view-4 {
  background-color: #2b4750;
}